body {
    margin: 10px 0;
    background: #ECEFF1 top left no-repeat;
    background-size: cover;
}

.main {
    max-width: 80%;
    min-width: 200px;
    width: 100%;
    margin: 0 50px;
}

#queryString>.main {
    min-width: 100px;
}